.fliko-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    padding: 0;
}

.blok{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.fliko-title{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}
    .fliko-title > strong{
        font-weight: 900;
    }
    .fliko-title > span{
        font-weight: 300;
    }

.fliko-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fliko-desc{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;

    padding: 2rem;
}

.desc-content{
    font-size: 1rem;
}

.built-for{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.built-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.targ{
    background-color: #fff;
    color: #000;
    padding: 0 .2rem;
    margin: 0 .5rem 0 .5rem;
    border: 2px solid #000;
    border-radius: 1rem;
    cursor: pointer;
    transition: 200ms ease;
}
    .targ:hover{
        background-color: #000;
        color: #fff;
    }

.fliko-features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: auto;
    background-color: #EBEDF9;

    border-left: 1px solid rgba(0, 0, 0, 0.199);
    border-top: 1px solid rgba(0, 0, 0, 0.199);
}   

.feat{
    padding: .5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.199);
    border-top: 1px solid rgba(0, 0, 0, 0.199);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
}

.feat-title{
    margin: 0;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feat-content{
    display: grid;
    grid-template-columns: auto auto;
    height: 200%;
}


#blok-one-title{
    background-image: url(/assets/img/FLIKO-bg-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#blok-two-title{
    background-image: url(/assets/img/FLIKO-bg-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#blok-three-title{
    background-image: url(/assets/img/FLIKO-bg-3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fliko-row{
    font-size: 1.2rem;
}

.ending{
    padding: 2rem;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.fliko-two-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.fliko-blok-container{
    position: relative;
    height: 20rem;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.sub-menu{
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 4rem;
    right: 0;
    transform: translateX(100%);
    -webkit-transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
}
    .sub-menu > li{
        width: 100%;
    }
    .sub-menu:hover{
        transform: translateX(0);
    }
    #sol:hover + .sub-menu{
        transform: translateX(0);
    }

.wid-blok{
    width: 100%;
    min-height: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #3A48C5;
    transition: filter 200ms ease;
    cursor: pointer;
}
    .wid-blok:hover{
        filter: brightness(1.2);
    }

.wid-title{
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    transition: color 200ms ease;
}
    .wid-title:hover{
        color: rgb(37, 37, 48);
    }

.wid-built{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

#sol{
    transition: display 200ms ease;
}

.short-blocks{
    display: none
}

@media screen and (max-width: 992px) {
    .sub-menu{
        display: none;
    }
    .short-blocks{
        display: flex;
    }
    .short-title{
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: #fff9;
    }
}

@media screen and (max-width: 1150px) {
    .fliko-section{
        flex-direction: column;
    }
    .feat-title{
        border-right: 1px solid rgba(0, 0, 0, 0.199);
    }
}

@media screen and (max-width: 1370px) {
    .ts-svg{
        background-size: unset;
    }
}